.header {
  background-color: orange;
  border: 30px;
  padding: 5px;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline;
  margin: 10px;
}

.navigation li.selected {
  color: red;
}

.navigation .selection:hover {
  cursor: pointer;
}